html {
    height: 100%;
}

body {
    font-family: 'Helvetiva', sans-serif;
    font-weight: 300;
    margin: 0;
    position: relative;
    min-height: 100%;
}

h1 {
    font-family: 'Helvetiva', sans-serif;
    padding-top: 0;
    padding-bottom: 10px;
    font-size: 20px;
}

.blog-name {
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 24px;
    color: black;
    float: left;
    padding-left: 0;
}

.container{
    max-width:100%;
    min-height:100%;
    padding: 0.5rem;
}

.container-fluid {
    padding-top: 20px;
}

.container-featured {
    padding-bottom: 0;
}

.container-body {
    padding-bottom: 100px;
}

.container-recent {
    padding-top: 20px;
    padding-bottom: 20px
}

body a {
    color:#333;
}

body a:hover {
    color: #aaa;  
}

.navbar-header {
    height: 80px;
}

.navbar-brand:focus, .navbar-brand:hover {
    text-decoration: none;
    color: black;
    cursor: default;
}

.navbar ul {
    padding-left: 0;
} 

/*.nav-links a{
    color:#333;
    font-weight:300;
    -webkit-transition:all .2s ease;
    -moz-transition:all .2s ease;
    transition:all .2s ease;
}*/

.nav-links a:hover,
.nav-links a:focus{
    color:#aaa;
    text-decoration:none
}

img {
    max-width: 100%;
    padding-bottom: 10px;
}


.recentblog-title {
    margin-top: 0;
}
.recentblog-image {
    float: left;
    padding-right: 10px;
}


.footer-container {
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;
    overflow: hidden;
}

.footer-left {
    float: left;
}

.footer-right {
    float: right!important;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    min-height: 100%; 
    border-top: black solid 1px;
    font-size: 12px;
}

.footer ul {
    list-style-type: none;
    padding: 20px;
    text-align: right;
    color: #333;

}
.footer li {
    color: #333;
    position: relative;
    padding-right: 10px;
    padding-bottom: 10px;
    display: inline-block;
}

.footer li a {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    padding-left:5px;
}

.fa {
    padding-right: 20px;    
}

.video-wrapper {
    display: block;
    text-align: center;
}